
@{
    ViewData["Title"] = "MeatBallTown";
}

<h2>Welcome to Meatball Town</h2>
<body>
    <img src="http://3.bp.blogspot.com/_Pmn0YJsS7rc/S_9QRi5LC6I/AAAAAAAAAmA/Qt0vdZRkj70/s640/meatball+sub.png" />
</body>


